---
import PlotFigure from "./PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import departementsGeoJSON from "../assets/departementsGeoJSON.json";
import lignesOuvertes from "../assets/lignesOuvertes.json";
import lignesFermées from "../assets/lignesFermées.json";
---

<div style="display: flex; gap: 20px;">
  <div>
    <h3>Carte lignes ouvertes</h3>
    <PlotFigure
      options={{
        width: 1500,
        projection: {
          type: "mercator",
          domain: departementsGeoJSON,
        },
        marks: [
          Plot.geo(departementsGeoJSON),
          Plot.geo(lignesOuvertes, { stroke: "green", r: 3 }),
        ],
      }}
    />
  </div>

  <div>
    <h3>Carte lignes fermées</h3>
    <PlotFigure
      options={{
        width: 1500,
        projection: {
          type: "mercator",
          domain: departementsGeoJSON,
        },
        marks: [
          Plot.geo(departementsGeoJSON),
          Plot.geo(lignesFermées, { stroke: "red", r: 3 }),
        ],
      }}
    />
  </div>
</div>
